a {
  text-decoration: none;
  color: rgb(180, 220, 255);
}

a:hover {
  color: rgba(180, 220, 255, 0.75);
}

html {
  background-color: rgb(65, 15, 15);
}
body {
  color: rgba(255, 255, 255, 0.95);
}
