a {
  text-decoration: none;
  color: rgb(180, 220, 255);
}

a:hover {
  color: rgba(180, 220, 255, 0.75);
}

html {
  background-color: rgba(55, 10, 10, 0.95);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Sarala", serif;
  color: rgba(255, 255, 255, 0.95);
}

body {
  margin: auto;
  padding: 0;
  width: 800px;
  max-width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.content-wrap {
  flex: 1;
}

nav {
  padding: 1rem 0 0 0;
}
