html.light,
html.light body {
  background-color: rgba(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.95);
}

html.dark,
html.dark body {
  background-color: rgb(65, 15, 15);
  color: rgba(255, 255, 255, 0.95);
}

html.light a {
  text-decoration: none;
  color: rgb(35, 35, 100);
}

html.light a:hover {
  color: rgba(35, 35, 100, 0.75);
}

html.dark a {
  text-decoration: none;
  color: rgb(180, 220, 255);
}

html.dark a:hover {
  color: rgba(180, 220, 255, 0.75);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Sarala", serif;
}

body {
  margin: auto;
  padding: 0;
  width: 800px;
  max-width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.content-wrap {
  flex: 1;
}

nav {
  padding-top: 0.75em;
}

.banner {
  width: 100vw;
  height: 0.5em;
  position: absolute;
  left: 0;
  background: radial-gradient(circle at center, rgb(183, 154, 154), #a91717);
  background-size: 200vw 200vw;
  animation: moveGradient 15s infinite linear;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.cv-body h3 {
  margin: 0;
}

.cv-body blockquote,
.cv-body blockquote p {
  margin: 0;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.93em;
}
