---
import Base from '../layouts/Base.astro';
import { SITE_EMAIL, SOCIAL_MEDIA } from "../consts";
import '../styles/dark.css';
---

<Base>
	<div class="description">
		<p>
			Hey! I'm a student at Brown studying Computer Science. I am particularly interested in software design and machine learning, and the challenges faced intersection of the two.
		</p>
	</div>
	<div class="contact">
		<h2>contact</h2>
		<p>
			Please feel free to reach me at <a href={"mailto:" + SITE_EMAIL}>{SITE_EMAIL}</a>. Here are my <a href={"mailto:" + SITE_EMAIL}>email</a>, <a href={SOCIAL_MEDIA.github}>github</a>, <a href={SOCIAL_MEDIA.linkedin}>linkedin</a>, and <a href={SOCIAL_MEDIA.instagram}>instagram</a>.

		</p>
	</div>
</Base>