---
import Base from "../layouts/Base.astro";
import { SITE_EMAIL, SOCIAL_MEDIA } from "../consts";
import Mileage from "../components/Mileage.astro";
import Polaroid from "../components/Polaroid.astro";

const filepath = "./src/pages/index.astro";
---

<Base filepath={filepath}>
  <div class="container">
    <Polaroid />
    <div class="description">
      <br />
      Hey! I'm a student at Brown studying Computer Science and Mathematics. I am
      particularly interested in web/software design and machine learning, and the challenges
      faced at their intersection.
      <br /><br />
      I have TA'd for both undergraduate and graduate computer science courses
      at Brown, covering material ranging from <a href="https://browncsci1430.github.io/">computer vision</a> to <a
        href="https://cs.brown.edu/degrees/cybersecurity/"
        >advanced cybersecurity</a
      >. I have served as a <a
        href="https://cs.brown.edu/degrees/undergrad/jobs/hta/">Head TA</a
      > for courses at Brown, coordinating UTA-STA staffs and classes of students. I am passionate
      about the importance of peer education and the role TAs can play in fostering
      an inclusive learning environment.
      <br /><br />
      I have industry experience in software engineering, with internship experience at 
        <a href="https://stripe.com/">Stripe</a> (Summer 2025),
        <a href="https://sharpnotions.com/">BillMax</a>, and
        <a href="https://sharpnotions.com/">Sharp Notions</a>.
      I have also assisted several professors and associates with software development related tasks.

      Notable projects include the development of <a href="https://blog.cs.brown.edu/2023/12/18/research-associate-tom-sgouros-and-brown-cs-students-use-sound-and-ai-make-nasa-imagery-accessible/">Stellasonos</a> (NASA-funded), <a href="https://www.zelma.ai/">Zelma</a> (NCCI-funded), and the <a href="https://www.globallinkages.org/">Global Linkages Lab</a> infra.

      <br /><br />
      I also enjoy running. Below is a <a href="https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings-on-your-profile/viewing-contributions-on-your-profile#contributions-calendar">GitHub-inspired</a> visualization of my mileage over the past year.
    </div>
  </div>
  <hr />
  <Mileage />
  <div class="contact">
    <span>
      Please feel free to reach me at <a href={"mailto:" + SITE_EMAIL}
        >{SITE_EMAIL}</a
      >.
    </span>
    <span>
      Here are my
      <a href={SOCIAL_MEDIA.github}>github</a> and 
      <a href={SOCIAL_MEDIA.linkedin}>linkedin</a>.
    </span>
  </div>
</Base>

<style>
  .description {
    text-wrap: wrap;
    text-align: justify;
  }

  hr {
    margin: 1em;
  }
</style>
