---
import Base from '../layouts/Base.astro';
import { SITE_EMAIL, SOCIAL_MEDIA } from "../consts";
---

<Base>
	<div class="container">
		<div class="me">
			<img src="/images/me.jpg" alt="me" />
		</div>
		<div class="description">
			<br />
			Hey! I'm a student at Brown studying Computer Science. 
			I am particularly interested in software design and machine learning,
			and the challenges faced at the intersection of the two.
			<br /><br />
			I've been a TA for both undergraduate and graduate computer science courses at Brown, 
			covering material ranging from introductory programming to <a href="https://cs.brown.edu/degrees/cybersecurity/">advanced cybersecurity</a>.
			In the fall, I work as a <a href="https://cs.brown.edu/degrees/undergrad/jobs/hta/">Head TA</a> coordinating a staff of UTAs and a class of ~200 students. I am passionate about the importance of peer education and the role TAs can play
			in fostering an inclusive learning environment. 
			<br /><br />
			I have some previous industry experience as a software engineer intern at 
			<a href="https://sharpnotions.com/">Sharp Notions</a> and <a href="https://meetpaidly.com/">Paidly</a>. 
			The small team sizes and fast-paced environments at these companies gave me the opportunity and resources to work on a <a href="/cv#experience">variety of projects</a>.
		</div>
	</div>
	<div class="contact">
		<h2>contact</h2>
		<p>
			Please feel free to reach me at <a href={"mailto:" + SITE_EMAIL}>{SITE_EMAIL}</a>. Here are my <a href={"mailto:" + SITE_EMAIL}>email</a>, <a href={SOCIAL_MEDIA.github}>github</a>, <a href={SOCIAL_MEDIA.linkedin}>linkedin</a>, and <a href={SOCIAL_MEDIA.instagram}>instagram</a>.
		</p>
		<p>
			A copy of my résumé is available upon request :)
		</p>
	</div>
</Base>
<style>
	.description {
		text-wrap: wrap;
	}
	img {
		object-fit: cover;
		height: 12em;
		width: 15em;
		float: right;
		border-radius: 1em;
		margin: 2em 2em 0.5em 2em;
	}
	@media (max-width: 600px) {
		img {
			/* float: none;
			width: -webkit-fill-available;
			width: fill-available;
			margin: 2em 1em 0 1em;
			max-width: 14em; */
			display: none;
		}
	}
</style>