---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h1>{SITE_TITLE}</h1>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/writing">Writing</HeaderLink>
			<HeaderLink href="/cv">CV</HeaderLink>
			<HeaderLink href="/contact">Contact</HeaderLink>
		</div>
	</nav>
</header>
<style>
	.internal-links {
		text-transform: lowercase;
	}
	.internal-links > * {
		margin-right: 0.5rem;
	}
</style>
