---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isExternal = href?.toString()?.startsWith("http");
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
  href={href}
  class:list={[className, { active: isActive, external: isExternal }]}
  {...props}
>
  <slot />
</a>

<style>
  a {
    display: inline-block;
  }

  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }

  a.external::after {
    content: " ↗";
  }

  a:hover {
    transform: scale(1.075);
    text-decoration: underline;
  }
</style>
