---
import HeaderLink from "./HeaderLink.astro";
import Contact from "./Contact.astro";
import { SITE_TITLE } from "../consts";
import { HEADER_LINKS } from "../consts";
---

<header>
  <nav>
    <h1>{SITE_TITLE}</h1>
    <div class="internal-links">
      {
        HEADER_LINKS.map(({ href, label }) => (
          <HeaderLink {href}>{label}</HeaderLink>
        ))
      }
      <Contact />
    </div>
  </nav>
</header>

<style>
  .internal-links {
    text-transform: lowercase;
    user-select: none;
  }
  .internal-links > * {
    margin-right: 0.5rem;
  }
</style>
