---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION,SITE_TITLE } from '../consts';
import child_process from 'child_process'

let resumeLastMod = child_process
    .execSync(`git log -n 1 --pretty=format:%ct -- public/resume.pdf`)
    .toString()
    .trim()

let resumeDate = new Date(parseInt(resumeLastMod) * 1000).toLocaleDateString('en-GB', {
    day: 'numeric',
    month: 'numeric',
    year: 'numeric',
    timeZone: 'America/New_York',
})
---

<html>
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>

    <body class="cv-body">
        <div class="banner" />
        <div class="content-wrap">
            <Header />
            <main>
                <slot />
            </main>
            <div class="grow"></div>
        </div>
        <Footer filepath={Astro.props.filepath ?? Astro.props.file} />
    </body>
</html>