---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION,SITE_TITLE } from '../consts';

---

<html class="light">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>

    <body class="cv-body">
        <div class="banner" />
        <div class="content-wrap">
            <Header />
            <main>
                <slot />
            </main>
            <div class="grow"></div>
        </div>
        <Footer filepath={Astro.props.filepath ?? Astro.props.file} />
    </body>
</html>